h1{
    text-align: center;
    font-family: 'Hanalei', cursive;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    empty-cells: hide;
    border: solid 1px black;
    margin-bottom: 2em;
}
table.dos{
    border-collapse: collapse;
}
caption{
    background-color: rgb(252, 207, 6);
    color: blue;
    font-weight: bold;
}
caption.dos{
    background-color: rgb(252, 207, 6);
    color: blue;
    font-weight: bold;
    caption-side: bottom;
}
th.uno{
    padding-right: 7em;
    padding-left: 7em;
    border: black 1px solid;
}
th.dos{
    padding-right: 10em;
    padding-left: 10em;
    border: black 1px solid;
}
th.tres{
    padding-right: 10em;
    padding-left: 10em;
    border: black 1px solid
}
th.cuatro{
    padding-right: 15em;
    padding-left: 15em;
    border: black 1px solid
}

td{
    border: 1px solid black;
}
tbody.dos{
    border: red dotted 2px;
}
td.mid{
    border: 1px solid black;
    padding-top: 1.8em;
    padding-right: 37em;
    padding-left: 37em;
}
td.bot{
    background-color: rgb(252, 207, 6);
    color: blue;
    border:3px solid red;
    padding-left: 26em;
    padding-right: 26em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bolder;
}
table.tres{
    border: transparent;
}
hr.uno{
    margin-left: 37%;
    margin-right: 37%;
    color: darkgrey;
    height: 2px;
    background-color: darkgray;
    opacity: 0.5;
}